@import '../../assets/variables';

.profile-input {
  border-radius: 15.032px;
  border: 1.253px solid #888;
  height: 2.5vh;
  background-color: rgb(58 58 58 / 30%);
  box-shadow: 0 0 6px rgb(0 0 0 / 14.1%);
  padding-left: 10px;
  color: #FFF;
}
