@import '../../assets/variables';

.dialog {
  background: $dialog-bgcolor;
  box-shadow: $dialog-shadow;
  border-radius: 5px 0 0;
  padding-left: 8.8vw;
  padding-top: 12vh;
  width: 70%;
  height: 97%;
  box-sizing: border-box;
}

.has-chat-page {
  height: 100%!important;
  width: 100%!important;
  padding: 0!important;
}
