{{#> Dialog }}
  <form class="profile-page">
    <div class="profile-page__content">
      <div class="profile-page__title-margin">
        Профиль
      </div>
      {{> InputField className="profile-page__input" title="Логин" name="login" }}
      {{> InputField className="profile-page__input" title="Пароль" name="password" type="password" }}
    </div>
    <div class="profile-page__show-password">
      <label class="control control-checkbox">
        Profile page
        <input type="checkbox" />
        <div class="control_indicator"></div>
      </label>
    </div>
    <div class="profile-page__footer">
      {{> Button text="Авторизоваться" page="chat" }}
      {{> PageSubtitle title="Нет аккаунта?" link="register" linkText="Cоздать аккаунт"}}
    </div>
  </form>
{{/ Dialog }}
