@import '../../assets/variables';

.profile-page {
  width: 400px;
  height: 390px;
  display: flex;
  margin-top: -3vh;
  flex-direction: column;

    &__content {
      flex: 1;
      gap: 20px
    }

    &__show-password {
      margin: 25px 0 80px 0;
    }

    &__input {
      margin-top: 30px;
    }

    &__footer {
      display: flex;
      flex-direction: column;
      margin-top: 6vh;
      gap: 30px;
    }

    &__title-margin {
      font: $font-big;
      text-decoration: underline;
      margin-bottom: 50px;
      text-underline-offset: 5px;
      text-decoration-color: #D0D0D0;
      text-decoration-thickness: 1px;
    }
  .control {
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0 solid #000000;
    border-radius: 0;
  }
  .control:hover input ~ .control_indicator,
  .control input:focus ~ .control_indicator {
    background: #cccccc;
  }

  .control input:checked ~ .control_indicator {
    background: $link-color;
  }

  .control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
  }
  .control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
  }
  .control input:checked ~ .control_indicator:after {
    display: block;
  }
  .control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
  }
}
