@import '../../assets/variables';

.chat-page {
  height: 100%;
  width: 100%;
  display: flex;

    &__messages {
      width: 27vw;

      &-list {
        background-color: $text-bgcolor;
      }

      &-list::-webkit-scrollbar {
        width: 8px; /* Width of the scrollbar */
      }

      &-list::-webkit-scrollbar-thumb {
        background-color: rgb(255 255 255 / 53%); /* Color of the thumb */
        border-radius: 0; /* No border radius for a square thumb */
        border: 3px solid transparent; /* Transparent border */
        background-clip: content-box; /* Prevents background color from leaking into the border */
      }


      &-profile {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 8px;
        height: 8vh;
        padding-right: 8px;

        &-title {
          margin-bottom: 1px;
        }

        &-text {
          margin: 0;
        }
      }

      &-profile-input {
        margin: 4px 16px 12px;
        display: flex;
        border-radius: 3px;
        border: 1px solid rgb(255 255 255 / 8%);
        background: rgb(255 255 255 / 6%);
      }
    }

    &__main {
      background-color: #3A3A3A;
      opacity: 0.3;
      width: 100%;
    }
}
