<div class="chat-page">
  <div class="chat-page__messages">
    <div class="chat-page__messages-profile">
      <div class="chat-page__messages-profile-title">
        <p class="chat-page__messages-profile-text">
          Профиль
        </p>
      </div>
      {{> ArrowIcon }}
    </div>
    <div class="chat-page__messages-profile-input">
      {{> ChatSearchInput }}
    </div>
    {{#> ChatList className="chat-page__messages-list" }}
      {{#each (chat-page-list)}}
        {{> ChatItem }}
      {{/each}}
    {{/ ChatList }}
  </div>
  <div class="chat-page__main">

  </div>
</div>
