@import '../../assets/variables';

.account-info-table {
  color: #FFF;
  width: 510px;
  padding: 20px 20px 20px 0;
  border-radius: 4px;
  font: $font-title;

    &__pwd {
      padding: 0;
    }

    &__field {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #EAEAEA;
      padding-bottom: 5px;
      padding-top: 5px;
      align-items: center;

      &:nth-last-child(3) {
        border-bottom: none;
        margin-bottom: 20px;
      }

      &-error {
        color: red;
        margin-bottom: 25px;
      }
    }

    &__field:last-child {
      border-bottom: none;
    }

    &__label {
        margin-right: 10px;
        white-space: nowrap;
    }

    &__value {
        color: #999;
        text-align: right;
    }
}
